html, body, ul, p, li, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

ul { list-style-type: none; }

body {
    padding: 15px;
    font-size: 14.5px;
    background-color: #545b62 !important;
    height: 1500px;
}



.progress {
    pointer-events: none;

    &.hidden {
        display: none !important;
    }
    .bar {
        background: #007bff;
        position: fixed;
        z-index: 1050;
        top: 0;
        left: 0;
        width: 100%;
        height: 7px;
        -webkit-box-shadow: 0 0 3px #007bff;
        box-shadow: 0 0 3px #007bff;
        -webkit-animation-name: loader-animation;
        animation-name: loader-animation;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }
    @keyframes loader-animation {
        0% {
            width: 0%;
        }
        49% {
            width: 100%;
            left: 0%;
        }
        50% {
            left: 100%;
            width: 0%;
        }
        100% {
            left: 0%;
            width: 100%;
        }
    }
}

.g-container {
    .g-title {
        font-size: 125%;
        text-align: center;
        color: #ffffff;
        line-height: 300%;
    }
    .g-title::before {
        display: inline-block;
        width: 32px;
        height: 32px;
        background: url(../../favicon-96x96.png) no-repeat;
        background-size: 32px 32px;
    }
    .g-title-b {
        font-size: 125%;
        text-align: center;
        color: #545b62;
        margin-bottom: 30px;
    }
    .widget-title {
        font-size: 110%;
        margin-bottom: 10px;
        text-align: center;
    }
    .svg {
        width: 720px;
        height: 1460px;
    }
    .g-infor {
        color: #eee;
        font-size: 100%;
    }
}

.guide {
    display: flex;
    background-color: #eee;
    max-height: 1460px;
    overflow-y: scroll;
    border-radius: 15px;
    border-color: rgb(156, 156, 156);
    padding: 15px 0;

    &.align-center {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    &.ready {
        opacity: .6;
    }
}

.container-weather {
    input[type="radio"] {
        margin-right: 3px;
    }
    .left-weather, .right-weather {
        background-color: #545b62;
        border-radius: 15px;
        color: #FFF;
        padding: 20px 5px;
    }
    .left-weather {
        float: left; 
        width: calc(50% - 2.5px);
        margin-right: 2.5px;
    }
    .right-weather {
        float: left;
        width: calc(50% - 2.5px);
        margin-left: 2.5px;
    }
    label {
        margin-top: 15px;
        display: block;
        cursor: pointer;
        text-align: center;
    }
    .weather-icon {
        width: calc(100% - 5px);

        option[value="1"] { background: url(../../assets/weather_01.png) no-repeat; } 
    }
    span.dl {
        display: block;
        font-size: 100%;
        &.city-name {
            color: #ffc107;
            font-size: 125%;
        }
        &.temp-min {
            color: #979797;
        }
        &.weather {
            color: #00bcd4;
        }
    }
}

.container-maxim {
    label {
        margin-bottom: 0;
        cursor: pointer;
    }
    .media {
        border-bottom: 1px solid #d8d8d8;
        margin-bottom: 10px;
    }
    .media-body {
        cursor: pointer;
        
        .textarea {
            width: 100%;
            min-height: 150px;
        }
    }
}

.container-news {
    padding: 5px 8px !important;

    .media {
        margin-bottom: 10px; 
        padding-bottom: 10px;
        border-bottom: 1px solid #d8d8d8;
    }
    .media-body {
        width: 80%;

        a::before {
            display: inline-block;
            content: "";
            background-image: url('data:image/svg+xml,<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-newspaper" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z"/><path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/></svg>');
            background-repeat: no-repeat;
            background-size: 1rem 1rem;
            width: 24px;
            height: 16px;
            background-position: 0 50%;
        }
    }
    h4.news-group {
        margin-top: 20px;
    }
}

.container-finance {
    .media {
        margin: 30px 10px;
    }
    .point {
        display: inline-block;
        width: 75px;
        text-align: center;
        line-height: 50px;
        font-size: 120%;

        &.up {
            color: #fa3232;
        }
        &.down {
            color: #0064b4;
        }
    }
    .media-body {
        padding-left: 15px;
    }
}

.container-covid {
    .media {
        margin: 30px 10px;
    }
    .point {
        display: inline-block;
        width: 75px;
        text-align: center;
        font-size: 120%;
        color: #fa3232;
    }
}